#follow{
    a{
        text-decoration: none;
        color:black;
    }
}

.fa-twitter{
    color: #00acee;
    width: 16px;
}

.fa-facebook-f{
    color: #4267B2;
    width: 16px;
}

.fa-youtube{
    color: #FF0000;
    width: 16px;
}